nav.navbar.nav-small {
  min-height: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
nav.navbar {
   -webkit-transition: all 0.01s ease;
   transition: all 0.01s ease;
   -webkit-box-shadow: 0 8px 6px -6px #999;
   -moz-box-shadow: 0 8px 6px -6px #999;
   box-shadow: 0 8px 6px -6px #999;
}
svg.svg-small {
  width: 40px;
  height: 30px;
}

svg{
  width: 100px;
  height: 60px;
  -webkit-transition: all 0.01s linear;
  transition: all 0.01s linear;
}

tspan.l{
  font-size: 10px;
}

tspan.s{
  font-size: 10px;
}
